body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

.main-content {
    display: flex;
    flex: 1;
}

.control-panel {
    width: 250px;
    padding: 20px;
    background-color: #333;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.control-panel button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.save-ele {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.control-panel button:hover {
    background-color: #45a049;
}

.control-panel p {
    font-size: 14px;
    color: #ddd;
}

.map-container {
    flex: 1;
    background-color: #e5e5e5;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

#saved-maps-container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.saved-map {
    margin-bottom: 10px;
}

.saved-map h3 {
    font-size: 18px;
    color: #333;
}

.saved-map img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-top: 5px;
}
